header {
    background-color: #0A043C;
    color: #2D9596;
    padding: 60px 0;
    transition: transform 0.3s ease-in-out;
    height: auto;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

#logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 120px;
}

#quote {
    display: flex;
      justify-content: center;
      align-items: center;
      height: 25vh;
      margin: 0;
      color: #0A043C;
      font-family: 'Dancing Script', cursive;
      font-size: 35pt;
      font-weight: 900;
}

#author {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 0vh;
      margin: 0;
      margin-top: 0px;
      color: #2D9596;
      font-family: 'Adamina', serif;
      font-size: 25px;
      font-weight: lighter;
}

hr {
    background-color: #0A043C;
    margin-top: 35px;
    margin-left: 100px;
    margin-right: 100px;
}

#photo {
    height: 50%;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}


#gradphoto{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

#gradtext{
    color: #0A043C;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Adamina', serif;
    font-weight: 300;
    margin-bottom: 5%;
}

#alumniprofiles{
    color: #0A043C;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
}

#people {
    margin-left: 10%;
    margin-right: 10%;
}

.griditem {
    text-align: center;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
    gap: 10px;
}

.pics {
    height: 250px;
    width: 250px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.text {
    color: #2D9596;
    font-weight: 500;
    margin-top: 2.5%
}

.name {
    color: #0A043C;
    font-weight: bold;
    margin-bottom: 0%;
    font-family: 'Dancing Script', cursive;
    font-size: 18pt;
}

#join {
    color: #0A043C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 30pt;
    margin-top: 5%;
}

.color-change-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #BBBBBB;
    color: black; 
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.color-change-button:hover {
    background-color: #0A043C;
    color: #fff;
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

footer {
    background-color: #dad9d9;
    color: #0A043C;
    padding: 80px;
    text-align: center;
    margin-top: 5%
}

footer a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.department-name {
    font-size: 1.5em;
    font-weight: bold;
}

.icons {
    height: 25px;
    width: 25px;
}

#container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('./campus\ photo.jpg')no-repeat center center fixed;
    background-size: cover; 
}