header {
    background-color: #0A043C;
    color: #2D9596;
    padding: 60px 0;
    transition: transform 0.3s ease-in-out;
    height: auto;
}

#logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 120px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

footer {
    background-color: #dad9d9;
    color: #0A043C;
    padding: 80px;
    text-align: center;
    margin-top: 5%
}

footer a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.department-name {
    font-size: 1.5em;
    font-weight: bold;
}

.icons {
    height: 25px;
    width: 25px;
}

h1 {
    color: #0A043C;
    font-size: 40pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    background-color: #0A043C;
    margin-top: 35px;
    margin-left: 100px;
    margin-right: 100px;
}

.donateimg {
    margin: 0;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

.banner {
    background-color: #2D9596;
    color: white;
    padding: 40px;
    text-align: center;
  }

  .button {
    background-color: #ffffff;
    color: #005ea6;
    border: 1px solid #005ea6;
    padding: 30px 85px;
    text-align: center;
    cursor: pointer;
    border-radius: 9999px;
    font-weight: 900;
    font-size: 17pt;
  }

  .button:hover {
    background-color: #0A043C;
    color: #dad9d9;
  }