body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #040D12;
    color: #fff;
    padding: 60px 0;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: grid;
    margin-right: 20px;
    grid-template-columns: repeat(1fr, 10);
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}

nav a.active {
    border-bottom: 2px solid #fff;
}

